<section
  class="flex flex-col items-center justify-center gap-y-7 h-screen bg-gray-50"
>
  <section class="text-center p-3">
    <h1 class="text-4xl text-blue-500 font-semibold">
      Email Verification Made Effortless
    </h1>

    <form class="space-y-3 max-w-md mx-auto" [formGroup]="emailForm" (ngSubmit)="verifyEmail()">
      <h5 class="text-xl font-medium text-gray-90">Verify Your Email Here</h5>
      <div>
        <input
          type="email"
          formControlName="email"

          id="email"
          class="text-gray-900 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
          placeholder="name@company.com"
          required
        />
      </div>

      <button
      [disabled]="isLoading()"
        type="submit"
        [class.opacity-50]="isLoading()"
        [class.cursor-not-allowed]="isLoading()"
        [class.bg-blue-300]="response | async"
        [class.text-white]="response | async"
        [class.border-blue-300]="response | async"
        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700"
      >
        {{ isLoading() ?'Please wait ....': 'Verify Email' }}
      </button>
    </form>

    <ng-container *ngIf="response | async as response_made">
      <div class="px-8 py-6">
        <h2 class="text-3xl font-bold text-gray-800 mb-6 border-b pb-2">
          Email Verification Response
        </h2>
        <div class="flex flex-wrap gap-y-3 gap-x-6  max-w-5xl">
          <!-- Result Field -->
          <div>
            <label class="block text-md font-medium text-black"
              >Result</label
            >
            <p class="mt-1 text-lg text-blue-700 font-mono" id="response-result">
              {{ response_made.result }}
            </p>
          </div>

          <!-- Reason Field -->
          <div>
            <label class="block text-md font-medium text-black"
              >Reason</label
            >
            <p class="mt-1 text-lg text-blue-700 font-mono" id="response-reason">
              {{ response_made.reason }}
            </p>
          </div>

          <!-- Disposable Email Field -->
          <div>
            <label class="block text-md font-medium text-black"
              >Disposable Email</label
            >
            <p class="mt-1 text-lg text-blue-700 font-mono" id="response-disposable">
              {{ response_made.disposable ? "Disposable" : "Not Disposable" }}
            </p>
          </div>

          <!-- Did You Mean Field -->
          <div *ngIf="response_made.did_you_mean">
            <label class="block text-md font-medium text-black"
              >Did You Mean</label
            >
            <p class="mt-1 text-lg text-blue-700 font-mono" id="response-did_you_mean">
              {{ response_made.did_you_mean }}
            </p>
          </div>

          <!-- Username Field -->
          <div>
            <label class="block text-md font-medium text-black"
              >Username</label
            >
            <p class="mt-1 text-lg text-blue-700 font-mono" id="response-user">
              {{ response_made.user }}
            </p>
          </div>

          <!-- Domain Field -->
          <div>
            <label class="block text-md font-medium text-black"
              >Domain</label
            >
            <p class="mt-1 text-lg text-blue-700 font-mono" id="response-domain">
              {{ response_made.domain }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
</section>
